/* The first two listed classes allow the cursor to animate when successfully hitting a mosquito.
See "function whack(event)" in the index.js file to see how the classes are toggled. */

.swatted {
  cursor: url('../assets/swatter-smack.png'), pointer;
}

.swatter {
  cursor: url('../assets/swatter.png'), pointer;
}

/* Background was modified here from the starter file to include a swamp, a more fitting home. */

html {
  background: url('../assets/background.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

/* Header has been added and formatted here to allow the title and mute button to sit in-line.
Images and h1 elements have fonts modified to be a bit ~spookier~ and sized appropriately. */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-family: "Chiller", "Comic Sans", cursive;
  color: darkred;
  -webkit-text-stroke: 1px black;
}

header img {
  height: 50px;
  width: 50px;
}

/* Following text has been formatted to match the black and red text above. */

h2 {
  text-align: center;
  font-size: 40px;
  color: darkred;
  -webkit-text-stroke: 1px black;
}

#start {
    text-align: center;
    font-size: 30px;
    background-color: black;
    color: darkred;
    border: darkred;
}

#timer{
    color: darkred;
}

/* The grid, hole, and mole classes are utiized to align the interactive objects in a grid.
The original class names have been kept to reflect correctly for testing, but they could be
changed to more accurately reflect their new designs (such as cloud and skeeter). */

.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("../assets/cloud.gif") bottom center no-repeat;
  background-size: 80%;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -10%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  background: url("../assets/skeeter.png") bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: -35%;
}

/* A dropdown menu has been added and formatted here to be centered with the rest of the body. */

select {
  display: block;
  margin: 0 auto;
}

